:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --acsent-color: #2196f3;
  --background-body-color: #ffffff;
  --footer-bgcolor: #2f303a;
  --secondary-bgcolor: #f5f4fa;
}

body {
  background-color: var(--background-body-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* утилита убираем ul точки */
.list {
  list-style: none;
}

/* скрываем заголовки  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* вторичный текст цвет заголовков и навигации #212121 */
/*о сновной цвет текста  #757575;*/
/* белый #FFFFFF  */
/* акцент и лого #2196F3 */
/* цвет фона футера #2F303A */
/* основной цвет фона #FFFFFF */
/* вторичный цвет фона #F5F4FA; */

/* Верхнее и нижнее лого */
.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

/* Оформление части лого цветом */
.logo-color {
  color: var(--acsent-color);
}

/* Навигационная часть */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
}

.contacts-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
}

/* Применение ховера и фокуса в навигации */
.link:hover,
.link:focus {
  color: var(--acsent-color);
}

/* герой */

.hero {
  background-color: var(--footer-bgcolor);
  text-align: center;
}
.hero-title {
  color: var(--background-body-color);
  background-color: #2f303a;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Кнопка героя */
.hero .button {
  color: var(--background-body-color);
  background-color: var(--acsent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
}
.hero .button:hover {
  border: #188ce8 solid 3px;
}

/* преимущества benefits*/

/*  заголовки для преимуществ*/
.benefits-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
/* текст описание внутри преимуществ */
.benefits-description {
  font-size: 14px;
  line-height: 1.14;
}

/* заголовки для секций что мы делаем и наша команда */

.workingplace-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Наша команда */
.team-section {
  background-color: var(--secondary-bgcolor);
}

.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* наша команда должность */
.team-position {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  font-weight: 400;
  text-align: center;
}

/* футер */
.footer-section {
  background-color: var(--footer-bgcolor);
}

/* Изменение части цвета лого в футере */
.logo-color-white {
  color: var(--background-body-color);
}
/* адрес компании */
.footer-address {
  color: var(--background-body-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer-item {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}
.footer-item:hover {
  color: rgba(255, 255, 255, 0.854);
  text-decoration: none;
}

/* портфолио */

/* подсветка кнопки портфолио голубым */
.link-current {
  color: var(--acsent-color);
  text-decoration: none;
  font-weight: 500;
}
/* навигация фильтр кнопки в работах портфолио */
.portfolio-button {
  color: var(--title-text-color);
  background-color: hsl(250, 37%, 97%);
  font-weight: 500;
  line-height: 1.62;
  font-size: 16;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/* ефект ховера и фокуса в навигации */
.portfolio-button:hover,
.portfolio-button :focus {
  color: var(--background-body-color);
  background-color: var(--acsent-color);
}

.portfolio-button.link-current {
  color: var(--background-body-color);
  background-color: var(--acsent-color);
}

/* Должность заголовок в портфолио */
.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* Описание работ */
.portfilio-description {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
